# 全局变量区 
# 定义根路径，后续用 {root} 引用，换路径只需改这一行
root: "outputs/pconv_ds2_L2L1_perc_edg"
# root: "outputs/pconv_ds2_L2L1_perc_edg_sty"

tasks:
  # TASK 3D 重建切片
  - name: recon_batch
    dpi: 220
    figsize: [14, 7]
    title_fontsize: 12
    
    # [痛点 2 解决] 批量切片列表
    slice_list: [128, 256, 384]
    
    # [痛点 2 解决] 输出路径带 {slice} 占位符
    out_path: "{root}/figs/compare_recon_z{slice}.png"
    
    # 标题也带占位符
    suptitle: "PConv Reconstruction - Slice {slice}"
    slice_axis: 0
    # slice_index: 会被循环自动覆盖
    
    # [痛点 3 解决] 路径使用 {root}
    paths:
      GT: "{root}/recon3d/recon_gt_all_hu.npy"
      Noisy: "{root}/recon3d/recon_noisy_all_hu.npy"
      WCE-Hsieh: "{root}/recon3d/recon_wce_hsieh_all_hu.npy"
      PConv-Pred: "{root}/recon3d/recon_pred_all_hu.npy"

    include: [Noisy, WCE-Hsieh, PConv-Pred]

    display:
      mode: window
      wl: 0
      ww: 2000

    heatmap:
      enable: true
      cmap: magma
      colorbar: true
      
      # 痛点 1 针对重建域，手动设置固定范围 700
      heat_mode: fixed
      vmax: 800.0

    tiles:
      enable: true
      dir: "{root}/figs/tiles_recon"
      format: png
      heat_with_colorbar: false

    roi:
      enable: true
      out_suffix: "_roi"
      linewidth: 2
      tiles:
        enable: true
        dir: "{root}/figs/tiles_recon_roi"
        boxed_enable: true
        format: png
        heat_with_colorbar: false
      list:
        - name: ROI-1
          color: red
          center_xy_frac: [0.85, 0.50]
          size_wh_px: [128, 128]
        - name: ROI-2
          color: lime
          center_xy_frac: [0.50, 0.58]
          size_wh_px: [96, 96]

  # 投影域 解决痛点 1
  - name: proj_view
    dpi: 220
    figsize: [16, 6]
    title_fontsize: 12
    
    # 这里不需要批量，单张即可，也可以用 slice_list: [90]
    slice_index: 90
    slice_axis: 0
    
    out_path: "{root}/figs/compare_proj_a{slice}.png"
    suptitle: "PConv Projection - Angle {slice}"

    paths:
      GT: "{root}/gt_volume_raw.npy"
      Noisy: "{root}/noisy_volume_raw.npy"
      PConv-Pred: "{root}/pred_volume_raw.npy"

    include: [Noisy, PConv-Pred]

    display:
      mode: percentile
      percentile: [1, 99]

    heatmap:
      enable: true
      cmap: magma
      colorbar: true
      
      # # 1 针对投影域，手动设置固定范围 60
      # heat_mode: fixed
      # vmax: 1

    tiles:
      enable: true
      dir: "{root}/figs/tiles_proj"
      format: png
      heat_with_colorbar: false

    roi:
      enable: true
      out_suffix: "_roi"
      linewidth: 2
      tiles:
        enable: true
        dir: "{root}/figs/tiles_proj_roi"
        boxed_enable: true
        format: png
        heat_with_colorbar: false
      list:
        - name: Boundary
          color: red
          center_xy_frac: [0.282, 0.50]
          size_wh_px: [128, 128]